.monospace {
    font-family: courier, courier new, serif;
}


/* aca le doy propiedades al body y main para que el footer permanezca siempre abajo */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/* tamaño, color y centrado  para las celdas */

td {
    text-align: center;
    border: 5px solid rgb(6, 43, 58);
    width: 70px;
    height: 80px;
}


/* para que aparezca la manito del cursor */

td:hover {
    cursor: pointer;
}


/* acá le doy fondo,color,cambio la visibilidad a las imagenes */

.cuadro {
    border-radius: 5px;
    background: rgb(6, 43, 58);
    width: 60px;
    height: 80px;
    visibility: hidden;
    cursor: default;
}


/* con este aplico el efecto de desenfoque */

.cuadro:hover {
    filter: blur(5px);
}


/* con esta clase le doy propiedades al texto, tales como el color rojo, el tipo de letra, tamaño y negrita */

.leo {
    font-weight: bold;
    font-size: 1.3em;
    color: #800202;
    font-family: 'Helvetica', 'Verdana', 'Monaco', sans-serif;
}